* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    background: #fff;
    color: #111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
    padding: 100px 40px 60px;
    cursor: default;
}

/* profile */
.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 200px;
    min-width: 260px;
}

.profile_img_box {
    width: 260px;
}

.img {
    width: 220px;
    height: auto;
    display: block;
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    margin: 16px 0 8px 0;
    font-size: 22px;
    font-weight: 500;
}

.major {
    font-size: 16px;
    line-height: 1.6;
    color: #222;
}

/* center texts */
.center_texts {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 120px;
    margin-right: 300px;
    min-width: 240px;
}

.center_texts .t_small {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.center_texts .t_mid {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.3px;
}

.center_texts .t_big {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: -0.3px;
}

/* hero (right) */
.hero {
    margin: 0;
    min-height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0px;
    padding-top: 0px;
    padding-right: 0px;
    overflow: visible;
}

.hero_title_1,
.hero_title_2,
.hero_title_3 {
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  letter-spacing: 0.02em;
}

.hero > p + p {
  margin-left: -5px;
}

.hero_title_1 {
    color: #000;
    font-family: Inter;
    font-size: 160px;
    font-style: normal;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: -2px;
    margin-top: -100px;
}

.hero_title_2 {
    color: #000;
    font-family: "Roboto Mono";
    font-size: 120px;
    font-style: normal;
    font-weight: 100;
    line-height: 0.95;
    margin-top: 40px;
}

.hero_title_3 {
    color: #000;
    font-family: "Pretendard JP";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -4px;
    margin-top: 120px;
}

.lens {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 50;

    background: rgba(255, 255, 255, 0.02);
    border: none;

    box-shadow:
        8px 12px 28px rgba(0, 0, 0, 0.10),
        0 0 60px rgba(0, 0, 0, 0.06);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    transition: transform 0.04s linear;
}
