* {
    margin: 0;
    padding: 0;
}

.hero {
    /* margin: 300px 0px 0px 200px; */
    position: relative;
    margin: 120px 0 0;
    min-height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0px; /* 세 타이틀 간 간격 */
    padding-top: 0px;
    padding-right: 40px;
    overflow: visible;
}

.hero_title_1,
.hero_title_2,
.hero_title_3 {
  margin: 0;
  writing-mode: vertical-rl; /* 세로 글자 */
  text-orientation: mixed;
  transform: rotate(180deg); /* 위에서 아래로 읽히게 */
  letter-spacing: 0.02em;
}

/* 글자 간격 더 촘촘하게 */
.hero > p + p {
  margin-left: -5px;
}

.hero_title_1 {
    color: #000;
    font-family: Inter;
    font-size: 160px;
    font-style: normal;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: -2px;
    margin-top: -110px;
}

.hero_title_2 {
    color: #000;
    font-family: "Roboto Mono";
    font-size: 120px;
    font-style: normal;
    font-weight: 100;
    line-height: 0.95;
    margin-top: 100px;
}

.hero_title_3 {
    color: #000;
    font-family: "Pretendard JP";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -4px;
    margin-top: 210px;
}


.profile {
    margin: 100px 100px 300px;
}

.img {
    width: 200px;
}

.name {
    margin: 70px 0 20px 0;
    font-size: 24px;
    font-weight: 500;
}

.btn {
    margin-right: 8px;
    padding: 5px 10px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    /* border-style: none; */
    border-radius: 3px;
    border-width: 1px;
}

.btn:hover {
    color: beige;
    background-color: rgb(0, 205, 75);
    /* border-color: rgb(0, 205, 75); */
    border-style: none;

}
